/*
 * ARB diff-drive sample - Apollo510 EVB overlay
 *
 * Pin map (functions per dts/apollo510/ambiq-apollo510-pinmux.h):
 *   Motor L: PWM P12 (CT12), DIR P13 (GPIO)
 *   Motor R: PWM P18 (CT18), DIR P19 (GPIO)
 *   Encoder L: A P24, B P25 (GPIO, both-edge IRQ)
 *   Encoder R: A P26, B P27
 *   IMU (ICM-42688-P): SCL P5 (M0SCL), SDA P6 (M0SDAWIR3) - IOM0 I2C
 *   ARB link: UART1 TX P41, RX P43, 921600 8N1
 *
 * PWM outputs use TIMER3/TIMER4 (TIMER2's pwm is claimed by the board dts
 * as pwm2, TIMER0's counter is used by the ARB benchmarks). The CT12/CT18
 * pad-to-timer-output routing follows the same mechanism the board uses
 * for pwm2/CT165 but has not been validated on hardware yet.
 *
 * SPDX-License-Identifier: Apache-2.0
 * Copyright (c) 2026 Ambiq Micro Inc. <www.ambiq.com>
 */

#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	chosen {
		arb,uart = &uart1;
	};

	zephyr,user {
		/* index 0 = left, 1 = right */
		pwms = <&pwm3 0 PWM_HZ(20000) PWM_POLARITY_NORMAL>,
		       <&pwm4 0 PWM_HZ(20000) PWM_POLARITY_NORMAL>;
		dir-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>,
			    <&gpio0 19 GPIO_ACTIVE_HIGH>;
		/* left A, left B, right A, right B */
		enc-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>,
			    <&gpio0 25 GPIO_ACTIVE_HIGH>,
			    <&gpio0 26 GPIO_ACTIVE_HIGH>,
			    <&gpio0 27 GPIO_ACTIVE_HIGH>;
		/* ICM-42688 INT1 -> P28 (verify wiring on the EVB rig) */
		imu-int-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <921600>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&timer3 {
	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&pwm3_default>;
		pinctrl-names = "default";
	};
};

&timer4 {
	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&pwm4_default>;
		pinctrl-names = "default";
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <M0SCL_P5>, <M0SDAWIR3_P6>;
			drive-open-drain;
			bias-pull-up;
		};
	};

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1TX_P41>;
		};
		group2 {
			pinmux = <UART1RX_P43>;
			input-enable;
		};
	};

	pwm3_default: pwm3_default {
		group1 {
			pinmux = <CT12_P12>;
		};
	};

	pwm4_default: pwm4_default {
		group1 {
			pinmux = <CT18_P18>;
		};
	};
};
